<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<style>
    .contain{
        margin: auto;
        /* background-color: navy; */
        width: 60%;
        /* height:; */
        padding: 5px;
    }
    .kotak{
        margin: 5px 5px 5px 5px;
        width: 45%;
        height: 300px;
        float: left;
        background-color: navy;
        border: 1px black;
        padding: 10px;
        text-align: center;
    }
    img{
        width: 80%;
        height: 60%;
    }
</style>
<body style="background-color:#ACE7FF; padding: 50px;">
    <h1>Favorites</h1>
    <div>
    <a href="/login"><button>Logout</button></a>
    <a href="/home"><button>Home</button></a>
    </div> <br> <br>
    <div class="contain">
        <!-- INI GTW VAR E APA -->
        <% for(var i=0; i<data.teams.length; i++){
            for(var j=0; j<favs.length; j++){
                if(favs[j].id==data.teams[i].id){%>
                    <div class="kotak">
                        <img src=<%=data.teams[i].crestUrl%> alt="" >
                        <h3><%=data.teams.name%></h3>
                        <table style="margin:auto">
                            <tr>
                                <td>
                                    <form action="/detail" method="post">
                                        <input type="hidden" name="id" value="<%=data.teams[i].id%>">
                                        <input type="submit" value="Detail">
                                    </form>
                                </td>
                                <td>
                                    <!-- blind coding -->
                                    <form action="/delFavorites" method="post">
                                        <input type="hidden" name="id" value="<%=data.teams[i].id%>">
                                        <input type="submit" value="Delete from Favorites">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                <%}
            }
        }%>
    </div>
</body>
</html>