<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color:#ACE7FF">
    <a href="/register"><button>Ke Register</button></a>
    <h1>Login</h1>
    <form action="/user-login" method="post">
        <table>
            <tr>
                <td>No Telp: </td>
                <td>
                    <input type="text" name="no_telp" id="">
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" name="password" id="">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
    <span style="color:red"><%=error_msg%></span>
</body>
</html>